@model List<EasyHousingSolution.Models.Property>

@{
    ViewData["Title"] = "Properties by Seller";
}

<h2>Properties listed by Seller ID: @ViewBag.SellerId</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Option</th>
            <th>IsActive</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var property in Model)
        {
            <tr>
                <td>@property.PropertyName</td>
                <td>@property.PropertyType</td>
                <td>@property.PropertyOption</td>
                <td>@property.IsActive</td>
                <td>@property.PriceRange</td>
            </tr>
        }
    </tbody>
</table>
